<div class="page-header">
  <h1>Items</h1>
  <div class="sync-button">
    <a (onclick)="syncItems('mId')">Sync Items</a>
  </div>
</div>


<div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="text-center">Price (USD)</th>
      <th class="text-center">Enable</th>
      <th>Options</th>
    </tr>
    <tr *ngFor="let item of locationsitems">
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td class="text-center">{{(item.price / 100).toFixed(2) | currency }}</td>
      <td class="text-center">
        <mat-slide-toggle
          [checked]="(item.isVisible) ? true : false"
          (change)="toggleVisibility(item._id, $event, item.cloverId)"
        ></mat-slide-toggle>
      </td>
      <td>
        <a (click)="editItem(item._id)" class="edit-item">
          <i class="material-icons">edit</i>
          Edit
        </a>
      </td>
    </tr>
  </table>
</div>
