table {
  width: 100%;
  border-collapse: collapse;
  td {
    padding: 10px;
  }
  tr:nth-child(2n) {
    background: #f0f0f0;
  }
}

.edit-item {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .5px;
  i {
    font-size: 12px;
  }
  &:hover {
    cursor: pointer;
  }
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #EF3340;  /*replace with your color*/
}
