<div class="page-header">
  <h1>Categories</h1>
  <div class="sync-button">
    <a (onclick)="syncCategories('mId')">Sync Categories</a>
  </div>
</div>


<div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th class="text-center">Enable</th>
      <th class="text-center">Options</th>
    </tr>
    <tr *ngFor="let category of locationscategories">
      <td>{{category.name}}</td>
      <td class="text-center">
          <mat-slide-toggle
            [checked]="(category.isVisible) ? true : false"
            (change)="toggleVisibility(category._id, $event, category.cloverId)"
          ></mat-slide-toggle>
        </td>
      <td class="text-center">
        <a (click)="editCategory(category._id)" class="edit-item">
          <i class="material-icons">edit</i>
          Edit
        </a>
      </td>
    </tr>
  </table>
</div>
