mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}

.back-btn {
  position: absolute;
  top: 15px;
  left: 5px;
}
.back-btn a { color: white; }
mat-spinner {
  margin: auto;
}
.img {
  width: 100%;
  height: 400px;
  background-image: url('/assets/images/menu-home.jpg');
  background-size: cover;
  background-position: center;
}
.img img {
  width: 150px;
  margin: 0 auto;
  display: block;
  padding-top: 2em;
}

mat-toolbar {
  text-align: center;
  background-color: #EF3340;
  color: #fff;
}

mat-toolbar span {
  display: block;
  margin: 0 auto;
}

button {
  text-decoration: none;
  width: 90%;
  display: block;
  margin: 0 auto;
  height: 50px;
  background: #EF3340;
  color: white;
  margin-top: 2em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  font-size: 16px;
  letter-spacing: 1px;
}

mat-card {
  background: transparent !important;
  box-shadow: none !important;
}

.create-account {
  color: #EF3340;
  text-align: center;
  font-size: 14px;
  display: block;
  margin: 0 auto;
}
