html {
  background-image: url('/assets/images/paper-texture.jpg');
  background-size: cover;
  background-position: center;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background: #EF3340;
	color: #FFF;
}

.header-logo {
	width: 125px;
	margin: 15px 0;
}

a {
  text-decoration: none;
  color: white;
}
.spacer {
  flex: 1 1 auto;
}

.menu-icon {
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.header-nav {
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 1em;
    text-align: center;
    background: #EF3340;
    a {
      width: 100%;
      height: 100%;
      display: block;
    }
    &:hover {
      background: darken(#EF3340, 5%);
    }
  }
  &:hover {
    ul { display: block; }
  }
}
