/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Lato', sans-serif; }

main {
	padding-top: 75px;
}

.container {
  position: relative;
	max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  th  {
    text-align: left;
    padding: 10px;
    background: #c0c0c0;
  }
  td {
    padding: 10px;
  }
  tr:nth-child(2n) {
    background: #f0f0f0;
  }
}

.sync-button {
  background: #EF3340;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 12px;
  &:hover {
    cursor: pointer;
    background: darken(#EF3340, 10%);
  }
}

.text-center { text-align: center; }
