<div class="locations-header">

  <div class="container">
      <div class="locations-header__info">
          <p class="large">Manage Items</p>
          <p class="small" *ngIf=!isLoading>{{location.name}} | {{location.address}}, {{location.city}} {{location.state}}</p>
      </div>

      <div class="locations-header__nav" *ngIf=!isLoading>
          <a
          [routerLink]="['/locations/', this.locationId]"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          (click)="viewChange('dashboard')"
        >
          <i class="material-icons">dashboard</i>Dashboard
        </a>
        <a
          [routerLink]="['/locations/', this.locationId, 'categories']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          (click)="viewChange('categories')"
        >
          <i class="material-icons">category</i>Categories
        </a>
        <a
          [routerLink]="['/locations/', this.locationId, 'items']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          (click)="viewChange('items')"
        >
          <i class="material-icons">list</i>Items
        </a>
        <a
          [routerLink]="['/locations/', this.locationId, 'orders']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          (click)="viewChange('orders')"
        >
          <i class="material-icons">payment</i>Orders
        </a>
      </div>
  </div>

</div>

<div class="container locations-wrap">
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div *ngIf=!isLoading>
      <app-locations-dashboard
        *ngIf='view == "dashboard"'
      ></app-locations-dashboard>

      <app-locations-items
        *ngIf='view == "items"'
        [locationsitems] = this.locationItems
        (toggleItemVisibility)="this.itemVisibilityToggle($event)"
      ></app-locations-items>

      <app-locations-categories
        *ngIf='view == "categories"'
        [locationscategories] = this.locationCategories
        (toggleCategoryVisibility)="this.categoryVisibilityToggle($event)"
      ></app-locations-categories>

      <app-locations-orders
        *ngIf='view == "orders"'
      ></app-locations-orders>
    </div>
</div>




