.locations-header {
  position: fixed;
  top: 75px;
  height: 75px;
  background: #f0f0f0;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    p {
      font-weight: 100;
      margin: 0;
      &.large {
        font-size: 24px;
      }
      &.small {
        font-size: 14px;
      }
    }
  }
  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 75px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      color: gray;
      border-left: 1px solid #c0c0c0;
      i { padding-bottom: 5px; }
      &.active {
        background: #c0c0c0;
      }
      &:last-child {
        border-right: 1px solid #c0c0c0;
      }
      &:hover {
        background: darken(#f0f0f0, 10%);
      }
    }
  }
}
